@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 100%;
    background-color: white;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading{
    font-size: 45px;
    font-weight: 900;
    color: black;
    text-align: center;
    letter-spacing: 3px;
    margin: 20px 0;
}

form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

form input{
    font-size: 22px;
    font-weight: 400;
    color: black;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #12b112;
}

.input-box{
    outline: none;
}

.submit-btn{
    background: #12b112;
    color: white;
    cursor: pointer;
}

.search-results{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-result{
    width: 30%;
    height: 100%;
    border-radius: 5px;
    border: none;
    margin-bottom: 50px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.search-result img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 5px 0 0 0;
    border: none;
}

.search-result a{
    font-size: 20px;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}

.showmore-btn{
    padding: 10px 20px ;
    background-color: #248181;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.social-links{
    width: 100%;
    margin: 20px 0;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.social-links i{
    color: white;
    background-color: #0A66C2;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
}

.social-links a{
    color: black;
    letter-spacing: 2px;
}


/* Responsive Design  */

@media screen and (max-width:770px) {
    .wrapper{
        padding: 30px 50px;
    }
    .search-result{
        width: 45%;
    }
}
@media screen and (max-width:440px) {
    .wrapper{
        padding: 20px;
    }
    .heading{
        font-size: 30px;
    }
    form{
        width: 100%;
    }
    .input-box{
        width: 70%;
        font-size: 16px;
        padding: 10px;
    }
    .submit-btn{
        width: 30%;
        font-size: 16px;
        padding: 10px;
        text-align: center;
        margin: 0;
    }
    .search-result{
        width: 100%;
    }
}