* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(./images/bg.jpg)
    center center/cover;
}

.input-container {
  width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #24142c;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin: 20px 0 10px;
}

#input-box {
  width: 85%;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  font-size: 25px;
  border-radius: 3px;
  background-color: #24142c;
  color: white;
  padding: 10px;
}

#input-box::placeholder {
  color: white;
  font-size: 25px;
}
.input-container i {
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.search-btn {
  outline: none;
  border: none;
  background-color: transparent;
}
.container {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #24142c;
  border-radius: 20px;
  color: white;
  margin-top: 10px;
  scale: 0;
  box-shadow: 4px 2px 10px white;
  opacity: 0;
  transition: all 1s ease;
  z-index: 2;
}

.heading {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  margin: 30px 20px 0;
}
.city {
  text-align: center;
  font-size: 42px;
  margin: 10px 0 0;
}
.img {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}

.img img {
  width: 200px;
  height: 200px;
}
.weather-report {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.temp {
  font-size: 55px;
  text-align: center;
}

.other-reports {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.other-reports img {
  width: 50px;
  margin-right: 10px;
}

.humidity-box,
.wind-box {
  display: flex;
}

.wind,
.humidity {
  font-size: 24px;
}

.sub-heading {
  font-size: 20px;
}

.show {
  scale: 1;
  opacity: 1;
}

.invalid-msg {
  color: red;
  font-size: 18px;
  display: none;
  border: 2px solid white;
  width: 350px;
  border-radius: 5px;
  background-color: #24142c;
  padding: 10px 20px;
  z-index: 3;
}

p i {
  margin-right: 5px;
  font-size: 20px;
  color: #0a66c2;
  padding: 10px;
}

a {
  font-size: 20px;
  color: #0a66c2;
}

h1 {
  font-size: 40px;
  color: #24142c;
  z-index: 5;
}